In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df1 = pd.read_csv('E:\GST_Revenue\pdf data\Feb-21.csv')

df2 = pd.read_csv('E:\GST_Revenue\pdf data\Mar-21.csv')

df3 = pd.read_csv('E:\GST_Revenue\pdf data\Jul-21.csv')

df4 = pd.read_csv('E:\GST_Revenue\pdf data\August-21.csv')

df5 = pd.read_csv('E:\GST_Revenue\pdf data\Sep-21.csv')

df6 = pd.read_csv('E:\GST_Revenue\pdf data\Oct-21.csv')

df7 = pd.read_csv(r'E:\GST_Revenue\pdf data\Nov-21.csv')

df8 = pd.read_csv('E:\GST_Revenue\pdf data\Dec-21.csv')

df9 = pd.read_csv('E:\GST_Revenue\pdf data\Feb-22.csv')

df10 = pd.read_csv('E:\GST_Revenue\pdf data\Mar-22.csv')

df11 = pd.read_csv('E:\GST_Revenue\pdf data\Apr-22.csv')

df12 = pd.read_csv('E:\GST_Revenue\pdf data\May-22.csv')

df13 = pd.read_csv('E:\GST_Revenue\pdf data\Jun-22.csv')

In [3]:
df3

                          State  Jul-20  Jul-21
0             Jammu and Kashmir     298     432
1              Himachal Pradesh     605     667
2                        Punjab   1,188   1,533
3                   Uttarakhand     988   1,106
4                       Haryana   3,483   5,330
5                         Delhi   2,629   3,815
6                     Rajasthan   2,797   3,129
7                 Uttar Pradesh   5,099   6,011
8                         Bihar   1,061   1,281
9                        Sikkim     186     197
10            Arunachal Pradesh      33      55
11                     Nagaland      25      28
12                      Manipur      25      37
13                      Mizoram      16      21
14                      Tripura      48      65
15                    Meghalaya     120     121
16                        Assam     723     882
17                  West Bengal   3,010   3,463
18                    Jharkhand   1,340   2,056
19                       Odisha   2,348   3,615
20                  Chattisgarh   1,832   2,432
21                   Chandigarh     137     169
22                      Gujarat   5,621   7,629
23                Daman and Diu      77       0
24       Dadra and Nagar Haveli     130     227
25                  Maharashtra  12,508  18,899
26                    Karnataka   6,014   6,737
27                          Goa     257     303
28                  Lakshadweep       2       1
29                       Kerala   1,318   1,675
30                   Tamil Nadu   4,635   6,302
31                   Puducherry     136     129
32  Andaman and Nicobar Islands      18      19
33                    Telangana   2,876   3,610
34               Andhra Pradesh   2,138   2,730
35                       Ladakh       7      13
36              Other Territory      97     141
37          Center Jurisdiction     179     161
38                  Grand Total  66,291  87,678
39               Madhya Pradesh   2,289   2,657

In [4]:
col = ['State']

dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13]
df_merged = pd.concat([x.set_index(col) for x in dfs], axis=1).reset_index()  
#df_merged.to_csv('merged.csv', sep=',', encoding='utf-8', index=False)
df_merged

,State,Feb-20,Feb-21,Mar-20,Mar-21,Jul-20,Jul-21,Aug-20,Aug-21,Sep-20,Sep-21,Oct-20,Oct-21,Nov-20,Nov-21,Dec-20,Dec-21,Feb-21,Feb-22,Mar-21,Mar-22,Apr-21,Apr-22,May-21,May-22,Jun-21,Jun-22
0,Himachal Pradesh,620.69,663.12,595.89,686.88,605,667,597,704,653,680,691,689,758,762,NaN,NaN,663,657,687,684,764,817,540,741,519,693
1,Punjab,"1,228.94","1,299.37","1,180.81","1,361.85","1,188","1,533","1,139","1,414","1,194","1,402","1,376","1,595","1,396","1,845",NaN,NaN,"1,299","1,480","1,362","1,572","1,924","1,994","1,266","1,833","1,111","1,683"
2,Chandigarh,172.37,148.5,153.26,165.27,137,169,139,144,141,152,152,158,141,180,NaN,NaN,149,178,165,184,203,249,130,167,120,170
3,Uttarakhand,"1,280.93","1,181.13","1,194.74","1,303.57",988,"1,106","1,006","1,089","1,065","1,131","1,272","1,259","1,286","1,263",NaN,NaN,"1,181","1,176","1,304","1,255","1,422","1,887",893,"1,309",702,"1,281"
4,Haryana,"5,266.43","5,589.81","4,874.29","5,709.60","3,483","5,330","4,373","5,618","4,712","5,577","5,433","5,606","5,928","6,016",NaN,NaN,"5,590","5,928","5,710","6,654","6,658","8,197","4,663","6,663","3,801","6,714"
5,Delhi,"3,834.75","3,727.46","3,272.99","3,925.97","2,629","3,815","2,880","3,605","3,146","3,605","3,211","4,045","3,413","4,387",NaN,NaN,"3,727","3,922","3,926","4,112","5,053","5,871","2,771","4,113","2,656","4,313"
6,Rajasthan,"2,932.09","3,223.70","2,820.44","3,351.79","2,797","3,129","2,582","3,049","2,647","2,959","2,966","3,423","3,130","3,698","3,135","3,058","3,224","3,469","3,352","3,587","3,820","4,547","2,464","3,789","2,176","3,386"
7,Uttar Pradesh,"5,775.91","5,996.62","5,293.72","6,265.01","5,099","6,011","5,098","5,946","5,075","5,692","5,471","6,775","5,528","6,636","5,937","6,029","5,997","6,519","6,265","6,620","7,355","8,534","4,710","6,670","4,588","6,835"
8,Bihar,"1,120.50","1,127.99","1,055.94","1,195.75","1,061","1,281",967,"1,037",996,876,"1,010","1,351",970,"1,030","1,067",963,"1,128","1,206","1,196","1,348","1,508","1,471",849,"1,178",889,"1,232"
9,Sikkim,182.65,222.35,189.33,213.66,186,197,147,219,106,260,177,257,223,207,225,249,222,222,214,230,258,264,250,279,212,256
10,Arunachal Pradesh,48.36,61.36,66.71,92.03,33,55,35,53,35,55,98,47,60,40,46,53,61,56,92,105,103,196,36,82,33,59
11,Nagaland,24.93,34.83,38.75,45.48,25,28,31,32,29,30,30,38,30,30,38,34,35,33,45,43,52,68,29,49,30,34
12,Manipur,37.36,32.34,35.89,50.36,25,37,26,45,34,33,43,64,32,35,41,48,32,39,50,60,103,69,22,47,22,39
13,Mizoram,24.84,21.06,33.19,34.93,16,21,12,16,17,20,32,32.1,17,23,25,20,21,24,35,37,57,46,15,25,17,26
14,Jammu and Kashmir,316.17,329.89,276.17,351.61,298,432,326,392,368,377,377,648,360,383,NaN,NaN,330,326,352,368,509,560,232,372,300,372
15,Meghalaya,156.57,146.5,132.72,151.97,120,121,108,119,100,120,117,140,120,152,106,149,147,201,152,181,206,227,124,174,105,153
16,Assam,923.87,945.84,931.72,"1,004.65",723,882,709,959,912,968,"1,017","1,425",946,992,984,"1,015",946,"1,008","1,005","1,115","1,151","1,313",770,"1,062",662,972
17,West Bengal,"3,941.54","4,334.98","3,582.26","4,386.79","3,010","3,463","3,053","3,678","3,393","3,778","3,738","4,259","3,747","4,083","4,114","3,707","4,335","4,414","4,387","4,472","5,236","5,644","3,590","4,896","2,744","4,331"
18,Jharkhand,"2,070.87","2,321.03","2,049.43","2,416.13","1,340","2,056","1,498","2,166","1,656","2,198","1,771","2,370","1,907","2,337","2,150","2,206","2,321","2,536","2,416","2,550","2,956","3,100","2,013","2,468","2,032","2,315"
19,Odisha,"2,790.16","3,340.57","2,632.88","3,285.29","2,348","3,615","2,348","3,317","2,384","3,326","2,419","3,593","2,528","4,136","2,860","4,080","3,341","4,101","3,285","4,125","3,849","4,910","3,197","3,956","3,000","3,965"
20,Chhattisgarh,"2,274.41","2,453.10","2,093.17","2,544.13",NaN,NaN,NaN,NaN,"1,841","2,233","1,974","2,392","2,181","2,454","2,349","2,582","2,453","2,783","2,544","2,720",NaN,NaN,NaN,NaN,"2,230","2,774"
21,Madhya Pradesh,"2,621.03","2,791.57","2,407.40","2,728.49","2,289","2,657","2,209","2,438","2,176","2,329","2,403","2,666","2,493","2,808","2,615","2,533","2,792","2,853","2,728","2,935","3,050","3,339","1,928","2,746","2,098","2,837"
22,Gujarat,"7,215.54","8,221.23","6,820.46","8,197.04","5,621","7,629","6,030","7,556","6,090","7,780","6,787","8,497","7,566","9,569","7,469","7,336","8,221","8,873","8,197","9,158","9,632","11,264","6,382","9,321","6,128","9,207"
23,Daman and Diu,94.47,2.61,94.91,3.29,77,0,70,1,15,0,7,0,2,0,4,2,3,0,3,0,1,0,0,0,0,0
24,Dadra and Nagar Haveli,145.41,235.09,168.89,288.49,130,227,145,254,225,304,283,269,296,270,259,232,235,260,288,284,292,381,228,300,243,350
25,Maharashtra,"15,734.66","16,103.50","15,002.11","17,038.49","12,508","18,899","11,602","15,175","13,546","16,584","15,799","19,355","15,001","18,656","17,699","19,592","16,104","19,423","17,038","20,305","22,013","27,495","13,565","20,313","13,722","22,341"
26,Karnataka,"7,413.83","7,581.45","7,144.30","7,914.98","6,014","6,737","5,502","7,429","6,050","7,783","6,998","8,259","6,915","9,048","7,459","8,335","7,581","9,176","7,915","8,750","9,955","11,820","5,754","9,232","5,103","8,845"
27,Goa,410.61,343.8,316.47,344.28,257,303,213,285,240,319,310,317,300,518,342,592,344,364,344,386,401,470,229,461,256,429
28,Lakshadweep,2.14,0.46,1.34,1.54,2,1,0,1,1,0,1,2,0,2,1,1,0,1,2,2,4,3,0,1,0,1
29,Tripura,63.26,63.25,67.1,87.9,48,65,43,56,50,50,57,67,58,58,74,68,63,66,88,82,110,107,39,65,43,63
30,Tamil Nadu,"6,426.49","7,008.21","6,177.82","7,579.18","4,635","6,302","5,243","7,060","6,454","7,842","6,901","7,642","7,084","7,795","6,905","6,635","7,008","7,393","7,579","8,023","8,849","9,724","5,592","7,910","4,380","8,027"
31,Puducherry,158.86,158.05,149.32,161.04,136,129,137,156,148,160,161,152,158,172,159,147,158,178,161,163,169,206,123,181,104,182
32,Andaman and Nicobar Islands,36.01,23.26,38.58,25.66,18,19,13,20,19,20,19,26,23,24,22,26,23,22,26,27,61,87,48,24,12,22
33,Telangana,"3,667.13","3,636.44","3,562.56","4,166.42","2,876","3,610","2,793","3,526","2,796","3,494","3,383","3,854","3,175","3,931","3,543","3,760","3,636","4,113","4,166","4,242","4,262","4,955","2,984","3,982","2,845","3,901"
34,Andhra Pradesh,"2,563.33","2,652.57","2,548.13","2,685.09","2,138","2,730","1,955","2,591","2,141","2,595","2,480","2,879","2,507","2,750","2,581","2,532","2,653","3,157","2,685","3,174","3,345","4,067","2,074","3,047","2,051","2,987"
35,Ladakh,0,9.06,0.84,13.67,7,13,5,14,9,15,15,19,9,13,8,15,9,16,14,23,31,47,5,12,6,13
36,Other Territory,145.11,134.33,132.49,122.39,97,141,180,109,110,132,91,137,79,95,88,140,134,136,122,149,159,216,121,185,127,205
37,Centre Jurisdiction,100.14,129.03,81.48,141.12,NaN,NaN,NaN,NaN,121,191,NaN,NaN,138,180,127,186,NaN,NaN,141,170,NaN,NaN,NaN,NaN,164,143
38,Grand Total,"83,581.02","88,101.59",78693.75,91869.7,"66,291","87,678","66,598","84,490","72,250","86,832","80,848","96,430","82,075","98,708","87,153","91,639","88,102","98,550",NaN,NaN,"1,10,804","1,29,978","70,951","1,02,485","66,229","1,03,317"
39,Kerala,"1,754.12","1,806.10","1,475.25","1,827.94","1,318","1,675","1,229","1,612","1,552","1,764","1,665","1,932","1,568","2,129","1,776","1,895","1,806","2,074","1,828","2,089","2,466","2,689","1,147","2,064",998,"2,161"
40,Chattisgarh,NaN,NaN,NaN,NaN,"1,832","2,432","1,994","2,391",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,673","2,977","2,026","2,627",NaN,NaN
41,Center Jurisdiction,NaN,NaN,NaN,NaN,179,161,161,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129,167,NaN,NaN,142,167,141,140,NaN,NaN
42,Centre Jurisdiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"91,870","1,01,983",NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df_merged.set_index('State').T
df

State,Himachal Pradesh,Punjab,Chandigarh,Uttarakhand,Haryana,Delhi,Rajasthan,Uttar Pradesh,Bihar,Sikkim,Arunachal Pradesh,Nagaland,Manipur,Mizoram,Jammu and Kashmir,Meghalaya,Assam,West Bengal,Jharkhand,Odisha,Chhattisgarh,Madhya Pradesh,Gujarat,Daman and Diu,Dadra and Nagar Haveli,Maharashtra,Karnataka,Goa,Lakshadweep,Tripura,Tamil Nadu,Puducherry,Andaman and Nicobar Islands,Telangana,Andhra Pradesh,Ladakh,Other Territory,Centre Jurisdiction,Grand Total,Kerala,Chattisgarh,Center Jurisdiction,Centre Jurisdiction,Total
Feb-20,620.69,"1,228.94",172.37,"1,280.93","5,266.43","3,834.75","2,932.09","5,775.91","1,120.50",182.65,48.36,24.93,37.36,24.84,316.17,156.57,923.87,"3,941.54","2,070.87","2,790.16","2,274.41","2,621.03","7,215.54",94.47,145.41,"15,734.66","7,413.83",410.61,2.14,63.26,"6,426.49",158.86,36.01,"3,667.13","2,563.33",0,145.11,100.14,"83,581.02","1,754.12",NaN,NaN,NaN,NaN
Feb-21,663.12,"1,299.37",148.5,"1,181.13","5,589.81","3,727.46","3,223.70","5,996.62","1,127.99",222.35,61.36,34.83,32.34,21.06,329.89,146.5,945.84,"4,334.98","2,321.03","3,340.57","2,453.10","2,791.57","8,221.23",2.61,235.09,"16,103.50","7,581.45",343.8,0.46,63.25,"7,008.21",158.05,23.26,"3,636.44","2,652.57",9.06,134.33,129.03,"88,101.59","1,806.10",NaN,NaN,NaN,NaN
Mar-20,595.89,"1,180.81",153.26,"1,194.74","4,874.29","3,272.99","2,820.44","5,293.72","1,055.94",189.33,66.71,38.75,35.89,33.19,276.17,132.72,931.72,"3,582.26","2,049.43","2,632.88","2,093.17","2,407.40","6,820.46",94.91,168.89,"15,002.11","7,144.30",316.47,1.34,67.1,"6,177.82",149.32,38.58,"3,562.56","2,548.13",0.84,132.49,81.48,78693.75,"1,475.25",NaN,NaN,NaN,NaN
Mar-21,686.88,"1,361.85",165.27,"1,303.57","5,709.60","3,925.97","3,351.79","6,265.01","1,195.75",213.66,92.03,45.48,50.36,34.93,351.61,151.97,"1,004.65","4,386.79","2,416.13","3,285.29","2,544.13","2,728.49","8,197.04",3.29,288.49,"17,038.49","7,914.98",344.28,1.54,87.9,"7,579.18",161.04,25.66,"4,166.42","2,685.09",13.67,122.39,141.12,91869.7,"1,827.94",NaN,NaN,NaN,NaN
Jul-20,605,"1,188",137,988,"3,483","2,629","2,797","5,099","1,061",186,33,25,25,16,298,120,723,"3,010","1,340","2,348",NaN,"2,289","5,621",77,130,"12,508","6,014",257,2,48,"4,635",136,18,"2,876","2,138",7,97,NaN,"66,291","1,318","1,832",179,NaN,NaN
Jul-21,667,"1,533",169,"1,106","5,330","3,815","3,129","6,011","1,281",197,55,28,37,21,432,121,882,"3,463","2,056","3,615",NaN,"2,657","7,629",0,227,"18,899","6,737",303,1,65,"6,302",129,19,"3,610","2,730",13,141,NaN,"87,678","1,675","2,432",161,NaN,NaN
Aug-20,597,"1,139",139,"1,006","4,373","2,880","2,582","5,098",967,147,35,31,26,12,326,108,709,"3,053","1,498","2,348",NaN,"2,209","6,030",70,145,"11,602","5,502",213,0,43,"5,243",137,13,"2,793","1,955",5,180,NaN,"66,598","1,229","1,994",161,NaN,NaN
Aug-21,704,"1,414",144,"1,089","5,618","3,605","3,049","5,946","1,037",219,53,32,45,16,392,119,959,"3,678","2,166","3,317",NaN,"2,438","7,556",1,254,"15,175","7,429",285,1,56,"7,060",156,20,"3,526","2,591",14,109,NaN,"84,490","1,612","2,391",214,NaN,NaN
Sep-20,653,"1,194",141,"1,065","4,712","3,146","2,647","5,075",996,106,35,29,34,17,368,100,912,"3,393","1,656","2,384","1,841","2,176","6,090",15,225,"13,546","6,050",240,1,50,"6,454",148,19,"2,796","2,141",9,110,121,"72,250","1,552",NaN,NaN,NaN,NaN
Sep-21,680,"1,402",152,"1,131","5,577","3,605","2,959","5,692",876,260,55,30,33,20,377,120,968,"3,778","2,198","3,326","2,233","2,329","7,780",0,304,"16,584","7,783",319,0,50,"7,842",160,20,"3,494","2,595",15,132,191,"86,832","1,764",NaN,NaN,NaN,NaN
Oct-20,691,"1,376",152,"1,272","5,433","3,211","2,966","5,471","1,010",177,98,30,43,32,377,117,"1,017","3,738","1,771","2,419","1,974","2,403","6,787",7,283,"15,799","6,998",310,1,57,"6,901",161,19,"3,383","2,480",15,91,NaN,"80,848","1,665",NaN,NaN,114,NaN
Oct-21,689,"1,595",158,"1,259","5,606","4,045","3,423","6,775","1,351",257,47,38,64,32.1,648,140,"1,425","4,259","2,370","3,593","2,392","2,666","8,497",0,269,"19,355","8,259",317,2,67,"7,642",152,26,"3,854","2,879",19,137,NaN,"96,430","1,932",NaN,NaN,189,NaN
Nov-20,758,"1,396",141,"1,286","5,928","3,413","3,130","5,528",970,223,60,30,32,17,360,120,946,"3,747","1,907","2,528","2,181","2,493","7,566",2,296,"15,001","6,915",300,0,58,"7,084",158,23,"3,175","2,507",9,79,138,"82,075","1,568",NaN,NaN,NaN,NaN
Nov-21,762,"1,845",180,"1,263","6,016","4,387","3,698","6,636","1,030",207,40,30,35,23,383,152,992,"4,083","2,337","4,136","2,454","2,808","9,569",0,270,"18,656","9,048",518,2,58,"7,795",172,24,"3,931","2,750",13,95,180,"98,708","2,129",NaN,NaN,NaN,NaN
Dec-20,NaN,NaN,NaN,NaN,NaN,NaN,"3,135","5,937","1,067",225,46,38,41,25,NaN,106,984,"4,114","2,150","2,860","2,349","2,615","7,469",4,259,"17,699","7,459",342,1,74,"6,905",159,22,"3,543","2,581",8,88,127,"87,153","1,776",NaN,NaN,NaN,NaN
Dec-21,NaN,NaN,NaN,NaN,NaN,NaN,"3,058","6,029",963,249,53,34,48,20,NaN,149,"1,015","3,707","2,206","4,080","2,582","2,533","7,336",2,232,"19,592","8,335",592,1,68,"6,635",147,26,"3,760","2,532",15,140,186,"91,639","1,895",NaN,NaN,NaN,NaN
Feb-21,663,"1,299",149,"1,181","5,590","3,727","3,224","5,997","1,128",222,61,35,32,21,330,147,946,"4,335","2,321","3,341","2,453","2,792","8,221",3,235,"16,104","7,581",344,0,63,"7,008",158,23,"3,636","2,653",9,134,NaN,"88,102","1,806",NaN,129,NaN,NaN
Feb-22,657,"1,480",178,"1,176","5,928","3,922","3,469","6,519","1,206",222,56,33,39,24,326,201,"1,008","4,414","2,536","4,101","2,783","2,853","8,873",0,260,"19,423","9,176",364,1,66,"7,393",178,22,"4,113","3,157",16,136,NaN,"98,550","2,074",NaN,167,NaN,NaN
Mar-21,687,"1,362",165,"1,304","5,710","3,926","3,352","6,265","1,196",214,92,45,50,35,352,152,"1,005","4,387","2,416","3,285","2,544","2,728","8,197",3,288,"17,038","7,915",344,2,88,"7,579",161,26,"4,166","2,685",14,122,141,NaN,"1,828",NaN,NaN,NaN,"91,870"
Mar-22,684,"1,572",184,"1,255","6,654","4,112","3,587","6,620","1,348",230,105,43,60,37,368,181,"1,115","4,472","2,550","4,125","2,720","2,935","9,158",0,284,"20,305","8,750",386,2,82,"8,023",163,27,"4,242","3,174",23,149,170,NaN,"2,089",NaN,NaN,NaN,"1,01,983"
Apr-21,764,"1,924",203,"1,422","6,658","5,053","3,820","7,355","1,508",258,103,52,103,57,509,206,"1,151","5,236","2,956","3,849",NaN,"3,050","9,632",1,292,"22,013","9,955",401,4,110,"8,849",169,61,"4,262","3,345",31,159,NaN,"1,10,804","2,466","2,673",142,NaN,NaN
Apr-22,817,"1,994",249,"1,887","8,197","5,871","4,547","8,534","1,471",264,196,68,69,46,560,227,"1,313","5,644","3,100","4,910",NaN,"3,339","11,264",0,381,"27,495","11,820",470,3,107,"9,724",206,87,"4,955","4,067",47,216,NaN,"1,29,978","2,689","2,977",167,NaN,NaN
May-21,540,"1,266",130,893,"4,663","2,771","2,464","4,710",849,250,36,29,22,15,232,124,770,"3,590","2,013","3,197",NaN,"1,928","6,382",0,228,"13,565","5,754",229,0,39,"5,592",123,48,"2,984","2,074",5,121,NaN,"70,951","1,147","2,026",141,NaN,NaN
May-22,741,"1,833",167,"1,309","6,663","4,113","3,789","6,670","1,178",279,82,49,47,25,372,174,"1,062","4,896","2,468","3,956",NaN,"2,746","9,321",0,300,"20,313","9,232",461,1,65,"7,910",181,24,"3,982","3,047",12,185,NaN,"1,02,485","2,064","2,627",140,NaN,NaN
Jun-21,519,"1,111",120,702,"3,801","2,656","2,176","4,588",889,212,33,30,22,17,300,105,662,"2,744","2,032","3,000","2,230","2,098","6,128",0,243,"13,722","5,103",256,0,43,"4,380",104,12,"2,845","2,051",6,127,164,"66,229",998,NaN,NaN,NaN,NaN
Jun-22,693,"1,683",170,"1,281","6,714","4,313","3,386","6,835","1,232",256,59,34,39,26,372,153,972,"4,331","2,315","3,965","2,774","2,837","9,207",0,350,"22,341","8,845",429,1,63,"8,027",182,22,"3,901","2,987",13,205,143,"1,03,317","2,161",NaN,NaN,NaN,NaN

In [6]:
 df.isna().sum()

State
Himachal Pradesh                2
Punjab                          2
Chandigarh                      2
Uttarakhand                     2
Haryana                         2
Delhi                           2
Rajasthan                       0
Uttar Pradesh                   0
Bihar                           0
Sikkim                          0
Arunachal Pradesh               0
Nagaland                        0
Manipur                         0
Mizoram                         0
Jammu and Kashmir               2
Meghalaya                       0
Assam                           0
West Bengal                     0
Jharkhand                       0
Odisha                          0
Chhattisgarh                    8
Madhya Pradesh                  0
Gujarat                         0
Daman and Diu                   0
Dadra and Nagar Haveli          0
Maharashtra                     0
Karnataka                       0
Goa                             0
Lakshadweep                     0
Tripura                         0
Tamil Nadu                      0
Puducherry                      0
Andaman and Nicobar Islands     0
Telangana                       0
Andhra Pradesh                  0
Ladakh                          0
Other Territory                 0
Centre Jurisdiction            12
Grand Total                     2
Kerala                          0
Chattisgarh                    18
Center Jurisdiction            16
Centre Jurisdiction            24
Total                          24
dtype: int64

In [7]:
df.Chhattisgarh.fillna(df.Chattisgarh, inplace=True)
df['Center Jurisdiction'].fillna(df['Centre Jurisdiction'], inplace=True)
del df['Chattisgarh']
del df['Centre Jurisdiction']
del df['Total']
df

State,Himachal Pradesh,Punjab,Chandigarh,Uttarakhand,Haryana,Delhi,Rajasthan,Uttar Pradesh,Bihar,Sikkim,Arunachal Pradesh,Nagaland,Manipur,Mizoram,Jammu and Kashmir,Meghalaya,Assam,West Bengal,Jharkhand,Odisha,Chhattisgarh,Madhya Pradesh,Gujarat,Daman and Diu,Dadra and Nagar Haveli,Maharashtra,Karnataka,Goa,Lakshadweep,Tripura,Tamil Nadu,Puducherry,Andaman and Nicobar Islands,Telangana,Andhra Pradesh,Ladakh,Other Territory,Grand Total,Kerala,Center Jurisdiction,Centre Jurisdiction
Feb-20,620.69,"1,228.94",172.37,"1,280.93","5,266.43","3,834.75","2,932.09","5,775.91","1,120.50",182.65,48.36,24.93,37.36,24.84,316.17,156.57,923.87,"3,941.54","2,070.87","2,790.16","2,274.41","2,621.03","7,215.54",94.47,145.41,"15,734.66","7,413.83",410.61,2.14,63.26,"6,426.49",158.86,36.01,"3,667.13","2,563.33",0,145.11,"83,581.02","1,754.12",100.14,NaN
Feb-21,663.12,"1,299.37",148.5,"1,181.13","5,589.81","3,727.46","3,223.70","5,996.62","1,127.99",222.35,61.36,34.83,32.34,21.06,329.89,146.5,945.84,"4,334.98","2,321.03","3,340.57","2,453.10","2,791.57","8,221.23",2.61,235.09,"16,103.50","7,581.45",343.8,0.46,63.25,"7,008.21",158.05,23.26,"3,636.44","2,652.57",9.06,134.33,"88,101.59","1,806.10",129.03,NaN
Mar-20,595.89,"1,180.81",153.26,"1,194.74","4,874.29","3,272.99","2,820.44","5,293.72","1,055.94",189.33,66.71,38.75,35.89,33.19,276.17,132.72,931.72,"3,582.26","2,049.43","2,632.88","2,093.17","2,407.40","6,820.46",94.91,168.89,"15,002.11","7,144.30",316.47,1.34,67.1,"6,177.82",149.32,38.58,"3,562.56","2,548.13",0.84,132.49,78693.75,"1,475.25",81.48,NaN
Mar-21,686.88,"1,361.85",165.27,"1,303.57","5,709.60","3,925.97","3,351.79","6,265.01","1,195.75",213.66,92.03,45.48,50.36,34.93,351.61,151.97,"1,004.65","4,386.79","2,416.13","3,285.29","2,544.13","2,728.49","8,197.04",3.29,288.49,"17,038.49","7,914.98",344.28,1.54,87.9,"7,579.18",161.04,25.66,"4,166.42","2,685.09",13.67,122.39,91869.7,"1,827.94",141.12,NaN
Jul-20,605,"1,188",137,988,"3,483","2,629","2,797","5,099","1,061",186,33,25,25,16,298,120,723,"3,010","1,340","2,348","1,832","2,289","5,621",77,130,"12,508","6,014",257,2,48,"4,635",136,18,"2,876","2,138",7,97,"66,291","1,318",179,NaN
Jul-21,667,"1,533",169,"1,106","5,330","3,815","3,129","6,011","1,281",197,55,28,37,21,432,121,882,"3,463","2,056","3,615","2,432","2,657","7,629",0,227,"18,899","6,737",303,1,65,"6,302",129,19,"3,610","2,730",13,141,"87,678","1,675",161,NaN
Aug-20,597,"1,139",139,"1,006","4,373","2,880","2,582","5,098",967,147,35,31,26,12,326,108,709,"3,053","1,498","2,348","1,994","2,209","6,030",70,145,"11,602","5,502",213,0,43,"5,243",137,13,"2,793","1,955",5,180,"66,598","1,229",161,NaN
Aug-21,704,"1,414",144,"1,089","5,618","3,605","3,049","5,946","1,037",219,53,32,45,16,392,119,959,"3,678","2,166","3,317","2,391","2,438","7,556",1,254,"15,175","7,429",285,1,56,"7,060",156,20,"3,526","2,591",14,109,"84,490","1,612",214,NaN
Sep-20,653,"1,194",141,"1,065","4,712","3,146","2,647","5,075",996,106,35,29,34,17,368,100,912,"3,393","1,656","2,384","1,841","2,176","6,090",15,225,"13,546","6,050",240,1,50,"6,454",148,19,"2,796","2,141",9,110,"72,250","1,552",121,NaN
Sep-21,680,"1,402",152,"1,131","5,577","3,605","2,959","5,692",876,260,55,30,33,20,377,120,968,"3,778","2,198","3,326","2,233","2,329","7,780",0,304,"16,584","7,783",319,0,50,"7,842",160,20,"3,494","2,595",15,132,"86,832","1,764",191,NaN
Oct-20,691,"1,376",152,"1,272","5,433","3,211","2,966","5,471","1,010",177,98,30,43,32,377,117,"1,017","3,738","1,771","2,419","1,974","2,403","6,787",7,283,"15,799","6,998",310,1,57,"6,901",161,19,"3,383","2,480",15,91,"80,848","1,665",NaN,114
Oct-21,689,"1,595",158,"1,259","5,606","4,045","3,423","6,775","1,351",257,47,38,64,32.1,648,140,"1,425","4,259","2,370","3,593","2,392","2,666","8,497",0,269,"19,355","8,259",317,2,67,"7,642",152,26,"3,854","2,879",19,137,"96,430","1,932",NaN,189
Nov-20,758,"1,396",141,"1,286","5,928","3,413","3,130","5,528",970,223,60,30,32,17,360,120,946,"3,747","1,907","2,528","2,181","2,493","7,566",2,296,"15,001","6,915",300,0,58,"7,084",158,23,"3,175","2,507",9,79,"82,075","1,568",138,NaN
Nov-21,762,"1,845",180,"1,263","6,016","4,387","3,698","6,636","1,030",207,40,30,35,23,383,152,992,"4,083","2,337","4,136","2,454","2,808","9,569",0,270,"18,656","9,048",518,2,58,"7,795",172,24,"3,931","2,750",13,95,"98,708","2,129",180,NaN
Dec-20,NaN,NaN,NaN,NaN,NaN,NaN,"3,135","5,937","1,067",225,46,38,41,25,NaN,106,984,"4,114","2,150","2,860","2,349","2,615","7,469",4,259,"17,699","7,459",342,1,74,"6,905",159,22,"3,543","2,581",8,88,"87,153","1,776",127,NaN
Dec-21,NaN,NaN,NaN,NaN,NaN,NaN,"3,058","6,029",963,249,53,34,48,20,NaN,149,"1,015","3,707","2,206","4,080","2,582","2,533","7,336",2,232,"19,592","8,335",592,1,68,"6,635",147,26,"3,760","2,532",15,140,"91,639","1,895",186,NaN
Feb-21,663,"1,299",149,"1,181","5,590","3,727","3,224","5,997","1,128",222,61,35,32,21,330,147,946,"4,335","2,321","3,341","2,453","2,792","8,221",3,235,"16,104","7,581",344,0,63,"7,008",158,23,"3,636","2,653",9,134,"88,102","1,806",129,NaN
Feb-22,657,"1,480",178,"1,176","5,928","3,922","3,469","6,519","1,206",222,56,33,39,24,326,201,"1,008","4,414","2,536","4,101","2,783","2,853","8,873",0,260,"19,423","9,176",364,1,66,"7,393",178,22,"4,113","3,157",16,136,"98,550","2,074",167,NaN
Mar-21,687,"1,362",165,"1,304","5,710","3,926","3,352","6,265","1,196",214,92,45,50,35,352,152,"1,005","4,387","2,416","3,285","2,544","2,728","8,197",3,288,"17,038","7,915",344,2,88,"7,579",161,26,"4,166","2,685",14,122,NaN,"1,828",141,NaN
Mar-22,684,"1,572",184,"1,255","6,654","4,112","3,587","6,620","1,348",230,105,43,60,37,368,181,"1,115","4,472","2,550","4,125","2,720","2,935","9,158",0,284,"20,305","8,750",386,2,82,"8,023",163,27,"4,242","3,174",23,149,NaN,"2,089",170,NaN
Apr-21,764,"1,924",203,"1,422","6,658","5,053","3,820","7,355","1,508",258,103,52,103,57,509,206,"1,151","5,236","2,956","3,849","2,673","3,050","9,632",1,292,"22,013","9,955",401,4,110,"8,849",169,61,"4,262","3,345",31,159,"1,10,804","2,466",142,NaN
Apr-22,817,"1,994",249,"1,887","8,197","5,871","4,547","8,534","1,471",264,196,68,69,46,560,227,"1,313","5,644","3,100","4,910","2,977","3,339","11,264",0,381,"27,495","11,820",470,3,107,"9,724",206,87,"4,955","4,067",47,216,"1,29,978","2,689",167,NaN
May-21,540,"1,266",130,893,"4,663","2,771","2,464","4,710",849,250,36,29,22,15,232,124,770,"3,590","2,013","3,197","2,026","1,928","6,382",0,228,"13,565","5,754",229,0,39,"5,592",123,48,"2,984","2,074",5,121,"70,951","1,147",141,NaN
May-22,741,"1,833",167,"1,309","6,663","4,113","3,789","6,670","1,178",279,82,49,47,25,372,174,"1,062","4,896","2,468","3,956","2,627","2,746","9,321",0,300,"20,313","9,232",461,1,65,"7,910",181,24,"3,982","3,047",12,185,"1,02,485","2,064",140,NaN
Jun-21,519,"1,111",120,702,"3,801","2,656","2,176","4,588",889,212,33,30,22,17,300,105,662,"2,744","2,032","3,000","2,230","2,098","6,128",0,243,"13,722","5,103",256,0,43,"4,380",104,12,"2,845","2,051",6,127,"66,229",998,164,NaN
Jun-22,693,"1,683",170,"1,281","6,714","4,313","3,386","6,835","1,232",256,59,34,39,26,372,153,972,"4,331","2,315","3,965","2,774","2,837","9,207",0,350,"22,341","8,845",429,1,63,"8,027",182,22,"3,901","2,987",13,205,"1,03,317","2,161",143,NaN

In [8]:
df.loc['Oct-20', 'Center Jurisdiction'] = '114'
df.loc['Oct-21', 'Center Jurisdiction'] = '189'
df.loc['Mar-21', 'Grand Total'] = '91,870'
df.loc['Mar-22', 'Grand Total'] = '1,01,983'
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)

In [9]:
data_f = df.T
data_f.reset_index(drop = False, inplace=True)

In [10]:
data_f

,State,Feb-20,Feb-21,Mar-20,Mar-21,Jul-20,Jul-21,Aug-20,Aug-21,Sep-20,Sep-21,Oct-20,Oct-21,Nov-20,Nov-21,Dec-20,Dec-21,Feb-21,Feb-22,Mar-21,Mar-22,Apr-21,Apr-22,May-21,May-22,Jun-21,Jun-22
0,Himachal Pradesh,620.69,663.12,595.89,686.88,605,667,597,704,653,680,691,689,758,762,NaN,NaN,663,657,687,684,764,817,540,741,519,693
1,Punjab,"1,228.94","1,299.37","1,180.81","1,361.85","1,188","1,533","1,139","1,414","1,194","1,402","1,376","1,595","1,396","1,845",NaN,NaN,"1,299","1,480","1,362","1,572","1,924","1,994","1,266","1,833","1,111","1,683"
2,Chandigarh,172.37,148.5,153.26,165.27,137,169,139,144,141,152,152,158,141,180,NaN,NaN,149,178,165,184,203,249,130,167,120,170
3,Uttarakhand,"1,280.93","1,181.13","1,194.74","1,303.57",988,"1,106","1,006","1,089","1,065","1,131","1,272","1,259","1,286","1,263",NaN,NaN,"1,181","1,176","1,304","1,255","1,422","1,887",893,"1,309",702,"1,281"
4,Haryana,"5,266.43","5,589.81","4,874.29","5,709.60","3,483","5,330","4,373","5,618","4,712","5,577","5,433","5,606","5,928","6,016",NaN,NaN,"5,590","5,928","5,710","6,654","6,658","8,197","4,663","6,663","3,801","6,714"
5,Delhi,"3,834.75","3,727.46","3,272.99","3,925.97","2,629","3,815","2,880","3,605","3,146","3,605","3,211","4,045","3,413","4,387",NaN,NaN,"3,727","3,922","3,926","4,112","5,053","5,871","2,771","4,113","2,656","4,313"
6,Rajasthan,"2,932.09","3,223.70","2,820.44","3,351.79","2,797","3,129","2,582","3,049","2,647","2,959","2,966","3,423","3,130","3,698","3,135","3,058","3,224","3,469","3,352","3,587","3,820","4,547","2,464","3,789","2,176","3,386"
7,Uttar Pradesh,"5,775.91","5,996.62","5,293.72","6,265.01","5,099","6,011","5,098","5,946","5,075","5,692","5,471","6,775","5,528","6,636","5,937","6,029","5,997","6,519","6,265","6,620","7,355","8,534","4,710","6,670","4,588","6,835"
8,Bihar,"1,120.50","1,127.99","1,055.94","1,195.75","1,061","1,281",967,"1,037",996,876,"1,010","1,351",970,"1,030","1,067",963,"1,128","1,206","1,196","1,348","1,508","1,471",849,"1,178",889,"1,232"
9,Sikkim,182.65,222.35,189.33,213.66,186,197,147,219,106,260,177,257,223,207,225,249,222,222,214,230,258,264,250,279,212,256
10,Arunachal Pradesh,48.36,61.36,66.71,92.03,33,55,35,53,35,55,98,47,60,40,46,53,61,56,92,105,103,196,36,82,33,59
11,Nagaland,24.93,34.83,38.75,45.48,25,28,31,32,29,30,30,38,30,30,38,34,35,33,45,43,52,68,29,49,30,34
12,Manipur,37.36,32.34,35.89,50.36,25,37,26,45,34,33,43,64,32,35,41,48,32,39,50,60,103,69,22,47,22,39
13,Mizoram,24.84,21.06,33.19,34.93,16,21,12,16,17,20,32,32.1,17,23,25,20,21,24,35,37,57,46,15,25,17,26
14,Jammu and Kashmir,316.17,329.89,276.17,351.61,298,432,326,392,368,377,377,648,360,383,NaN,NaN,330,326,352,368,509,560,232,372,300,372
15,Meghalaya,156.57,146.5,132.72,151.97,120,121,108,119,100,120,117,140,120,152,106,149,147,201,152,181,206,227,124,174,105,153
16,Assam,923.87,945.84,931.72,"1,004.65",723,882,709,959,912,968,"1,017","1,425",946,992,984,"1,015",946,"1,008","1,005","1,115","1,151","1,313",770,"1,062",662,972
17,West Bengal,"3,941.54","4,334.98","3,582.26","4,386.79","3,010","3,463","3,053","3,678","3,393","3,778","3,738","4,259","3,747","4,083","4,114","3,707","4,335","4,414","4,387","4,472","5,236","5,644","3,590","4,896","2,744","4,331"
18,Jharkhand,"2,070.87","2,321.03","2,049.43","2,416.13","1,340","2,056","1,498","2,166","1,656","2,198","1,771","2,370","1,907","2,337","2,150","2,206","2,321","2,536","2,416","2,550","2,956","3,100","2,013","2,468","2,032","2,315"
19,Odisha,"2,790.16","3,340.57","2,632.88","3,285.29","2,348","3,615","2,348","3,317","2,384","3,326","2,419","3,593","2,528","4,136","2,860","4,080","3,341","4,101","3,285","4,125","3,849","4,910","3,197","3,956","3,000","3,965"
20,Chhattisgarh,"2,274.41","2,453.10","2,093.17","2,544.13","1,832","2,432","1,994","2,391","1,841","2,233","1,974","2,392","2,181","2,454","2,349","2,582","2,453","2,783","2,544","2,720","2,673","2,977","2,026","2,627","2,230","2,774"
21,Madhya Pradesh,"2,621.03","2,791.57","2,407.40","2,728.49","2,289","2,657","2,209","2,438","2,176","2,329","2,403","2,666","2,493","2,808","2,615","2,533","2,792","2,853","2,728","2,935","3,050","3,339","1,928","2,746","2,098","2,837"
22,Gujarat,"7,215.54","8,221.23","6,820.46","8,197.04","5,621","7,629","6,030","7,556","6,090","7,780","6,787","8,497","7,566","9,569","7,469","7,336","8,221","8,873","8,197","9,158","9,632","11,264","6,382","9,321","6,128","9,207"
23,Daman and Diu,94.47,2.61,94.91,3.29,77,0,70,1,15,0,7,0,2,0,4,2,3,0,3,0,1,0,0,0,0,0
24,Dadra and Nagar Haveli,145.41,235.09,168.89,288.49,130,227,145,254,225,304,283,269,296,270,259,232,235,260,288,284,292,381,228,300,243,350
25,Maharashtra,"15,734.66","16,103.50","15,002.11","17,038.49","12,508","18,899","11,602","15,175","13,546","16,584","15,799","19,355","15,001","18,656","17,699","19,592","16,104","19,423","17,038","20,305","22,013","27,495","13,565","20,313","13,722","22,341"
26,Karnataka,"7,413.83","7,581.45","7,144.30","7,914.98","6,014","6,737","5,502","7,429","6,050","7,783","6,998","8,259","6,915","9,048","7,459","8,335","7,581","9,176","7,915","8,750","9,955","11,820","5,754","9,232","5,103","8,845"
27,Goa,410.61,343.8,316.47,344.28,257,303,213,285,240,319,310,317,300,518,342,592,344,364,344,386,401,470,229,461,256,429
28,Lakshadweep,2.14,0.46,1.34,1.54,2,1,0,1,1,0,1,2,0,2,1,1,0,1,2,2,4,3,0,1,0,1
29,Tripura,63.26,63.25,67.1,87.9,48,65,43,56,50,50,57,67,58,58,74,68,63,66,88,82,110,107,39,65,43,63
30,Tamil Nadu,"6,426.49","7,008.21","6,177.82","7,579.18","4,635","6,302","5,243","7,060","6,454","7,842","6,901","7,642","7,084","7,795","6,905","6,635","7,008","7,393","7,579","8,023","8,849","9,724","5,592","7,910","4,380","8,027"
31,Puducherry,158.86,158.05,149.32,161.04,136,129,137,156,148,160,161,152,158,172,159,147,158,178,161,163,169,206,123,181,104,182
32,Andaman and Nicobar Islands,36.01,23.26,38.58,25.66,18,19,13,20,19,20,19,26,23,24,22,26,23,22,26,27,61,87,48,24,12,22
33,Telangana,"3,667.13","3,636.44","3,562.56","4,166.42","2,876","3,610","2,793","3,526","2,796","3,494","3,383","3,854","3,175","3,931","3,543","3,760","3,636","4,113","4,166","4,242","4,262","4,955","2,984","3,982","2,845","3,901"
34,Andhra Pradesh,"2,563.33","2,652.57","2,548.13","2,685.09","2,138","2,730","1,955","2,591","2,141","2,595","2,480","2,879","2,507","2,750","2,581","2,532","2,653","3,157","2,685","3,174","3,345","4,067","2,074","3,047","2,051","2,987"
35,Ladakh,0,9.06,0.84,13.67,7,13,5,14,9,15,15,19,9,13,8,15,9,16,14,23,31,47,5,12,6,13
36,Other Territory,145.11,134.33,132.49,122.39,97,141,180,109,110,132,91,137,79,95,88,140,134,136,122,149,159,216,121,185,127,205
37,Grand Total,"83,581.02","88,101.59",78693.75,"91,870","66,291","87,678","66,598","84,490","72,250","86,832","80,848","96,430","82,075","98,708","87,153","91,639","88,102","98,550","91,870","1,01,983","1,10,804","1,29,978","70,951","1,02,485","66,229","1,03,317"
38,Kerala,"1,754.12","1,806.10","1,475.25","1,827.94","1,318","1,675","1,229","1,612","1,552","1,764","1,665","1,932","1,568","2,129","1,776","1,895","1,806","2,074","1,828","2,089","2,466","2,689","1,147","2,064",998,"2,161"
39,Center Jurisdiction,100.14,129.03,81.48,141.12,179,161,161,214,121,191,114,189,138,180,127,186,129,167,141,170,142,167,141,140,164,143

In [12]:
data_f.to_csv('pdf_data.csv',index=False)